*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-head{
    width: 100%;
    height: 100px;
    background-color: #fe6232;
    display: flex;
    color: aliceblue;
}
h1{
    line-height: 100px;
    flex: 1;
    font-size: 30px;
    padding: 0px 20px ;
}
h2{
    font-size: large;
    margin-bottom: 30px;
}
.search{
    flex: 1;
    padding-left: 30px;
    line-height: 100px;
}
.search input{
    width: 350px;
    height:35px;
}
.timkiem{
    display: flex;
    flex: 1;
    line-height: 75px;
}
.timkiem.ul{
    display: flex;
}
.timkiem>ul>li{ 
    list-style: none;
    float: left;
    padding: 20px;
}
.timkiem ul li a{
    color: aliceblue;
    text-decoration: none;
    font-size: large;
}
.items{
    width: 180px;
    text-align: center;
    background-color:white;
}
.img1{
    width: 180px;
    height: 200px;
}
.Menu{
    width: 200px;
    height: 200px;
    background-color: white;

}
.Menu ul li{
    list-style: none;
}
.Menu h2{
    padding: 15px 0px;
    border-bottom: 5px solid #f5f5f5;
}
article{
   padding: 50px 50px;
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5 ;
    border-bottom: 2px solid red;
    gap: 8px;
}
p span {
    font-size: small;
}
footer{
    width: 100%;
    height: 200px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
}
footer ul{
    list-style: none;
    margin-top: 40px;
}
footer ul li{
    color: gray;
}
    
